@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Muli', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}

.container {
	display: flex;
	width: 90vw;
}

.card {
	width: 500px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #fff;
	flex: 0.5;
	position: relative;
	margin: 5px;
	flex: 0.5;
	transition: flex 0.7s ease-in;
}

.card img {
	border-radius: 50px;
	object-fit: cover;
	width: 100%;
	height: 80vh;
	cursor: pointer;
}

.card h3 {
	background-color: rgba(210, 215, 211, 0.5);
	font-size: 2rem;
	font-weight: bolder;
	position: absolute;
	bottom: 25px;
	left: 10px;
	margin: 0;
	opacity: 0;
	border-radius: 10px;
	padding: 5px;
}

.card.active {
	flex: 5;
}

.card.active h3 {
	opacity: 1;
	transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 550px) {
	.container {
		width: 100vw;
	}
	.card:nth-of-type(4),
	.card:nth-of-type(5) {
		display: none;
	}
} ;
